body {
  margin: 0px;
  background-color: #3e0e40;
}

.nav-bar-wrapper img {
  height: 100px;
}

.user-wrapper {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  justify-content: center;
}

.logo {
  display: flex;
  color: red;
  align-items: center;
  margin: 15px;
}

.btn {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  margin-left: 20%;
}

.user-profile {
  color: #9cd4e0;
  background-color: #4c4d4f;
  margin: 5px;
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 20px 20px 49px 0px rgba(0, 0, 0, 0.75);
}

.user-bio {
  width: 230px;

  text-align: center;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 0px;
  background-color: #9cd4e0;
  margin-bottom: 0px;
  color: #4c4d4f;
}

.homepage-container {
  background-color: #3e0e40;
}

.user-profile img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.btn-wrapper {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  margin-left: 45%;
  height: 20%;
  text-decoration: none;
}

.logo img {
  width: 130px;
}

a {
  display: flex;
  color: #4c4d4f;
  padding: 3px;
  margin-bottom: 0px;
}

.userName {
  display: flex;
  justify-content: space-around;
  height: 35%;
  padding: 10px;
  color: #4c4d4f;
}

.login {
  padding: 10px;
  color: #4c4d4f;
}

.edit-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button {
  color: #f09c23;
  margin-left: 80%;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.delete-button:hover {
  color: #b90000;
  margin-left: 80%;
  margin-bottom: 5px;
  cursor: pointer;
}

.edit-button button {
  background-color: #9cd4e0;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #4c4d4f;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.edit-button button:hover {
  background-color: #b6f2ff;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #4c4d4f;
  font-weight: 600;
}

.btn {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  margin-left: 20%;
  text-decoration: none;
  font-weight: 550;

  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.btn:hover {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  margin-left: 20%;
  text-decoration: none;
  font-weight: 550;
  border-bottom: 2px solid #f09c23;
}

.userName {
  display: flex;
  padding: 10px;
}
